

html
  head
    meta(charset='UTF-8')
    title Web Conten Manager
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.2
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/bootstrap/css/custom.css', rel='stylesheet', type='text/css')
    // Font Awesome Icons
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/bootstrap/js/bootstrap.js" rel="stylesheet')

    script(type='text/javascript', src='/bootstrap/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/bootstrap/js/jquery-1.11.1.min.js')
    script (type='text/javascript' src='/bootstrap/js/bootstrap-3.1.1.min.js')
    script (type='text/javascript' src='/bootstrap/js/jquery.isotope.min.js')
    script (type='text/javascript' src='/bootstrap/js/jquery.singlePageNav.min.js')
    script (type='text/javascript' src='/bootstrap/js/main.js')
  //  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
       $(document).ready(function(){
       $("button").click(function(){
       $("p").hide();
       });
       })

  body
    .container
      .row
        .col-xs-12
            - if (messages.msg_error)
                .alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    | #{messages.msg_error}
            - if (messages.msg_info)
                .alert.alert-success.alert-dismissable
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    | #{messages.msg_info}
            .box
                .box-header
                    h3.box-title Jabatan
                    .box-tools
                         
                        a(href="/pemberikerja/addlowker/").btn.btn-primary.btn-sm
                            i.glyphicon.glyphicon-plus
                            | &nbsp; Tambah Jabatan
                // /.box-header
                .box-body.table-responsive.no-padding
                    table.table.table-striped
                        thead
                            th No.
                            th NamaPekerjaan
                            th NamaPemberiPekerjaan
                            th Action
                        tbody
                            for row, datainputlowker in pemberikerja
                                tr
                                    td #{datainputlowker+1}
                                    td #{row.inputlowker.NamaPekerjaan}
                                    td #{row.inputlowker.NamaPemberiPekerjaan}
                                    td
                                        div(style="display:inline-block;margin-right:5px;")
                                            a(href="/pemberikerja/editlowker/#{row._id}").btn.btn-success.btn-xs
                                                i.glyphicon.glyphicon-pencil
                                        div(style="display:inline-block")
                                            form(method="POST", action="/pemberikerja/delete/#{row._id}")
                                                input(type="hidden", name="_method", value="DELETE")
                                                button(type="submit").btn.btn-danger.btn-xs
                                                    i.glyphicon.glyphicon-trash
                // /.box-body
            // /.box
      // /.content
